<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/print.css') }}" media="print">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="complete-container">
        <div class="hover-div">
            <img src="../static//images/fixmyfeet.png">
        </div>
        <div class="content">
        <h2>Patient Details</h2>
            <div>
                {{patient_details.patientName}}
                <br>
                {{patient_details.patientEmail}}
                <br>
            </div>
        <h2>Your Answers</h2>
        <ul>
            {% for answer in answers %}
                <li>{{ loop.index }}: {{ answer }}</li>
            {% endfor %}
        </ul>
        {% if score %}
            <h2>Your Score: {{ score }}</h2>
        {% endif %}
        <button class="button" onclick="window.print();">Print Results</button>
    </div>
    </div>  
    <a href="/" class="back-to-start">Back to Start</a>
</body>
</html>
