<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <title>Fix My Feet Questionnaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="../static/images/fixmyfeet.png">
        <a href="/patient" class="button">Start New Questionnaire</a>
        <a href="/admin" class="button">Questionnaire History</a>
    </div>
</body>
</html>
