<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
</head>
<body>
    <form action="{{ url_for('questionnaire', question_iter=question_iter) }}" method="post">
        <h2>{{ question }}</h2>
        {% if question.image %}
            <img src="{{ question.image }}" alt="Question Image">
        {% endif %}
        {% for answer in answers %}
        <div>
            <input type="radio" id="answer{{ loop.index }}" name="answer_value" value="{{answer.answer_id}}">
            <label for="answer{{ loop.index }}">{{answer.answer_text }}</label>
        </div>
        {% endfor %}
        <div>{{question_iter}}</div>
        <button type="submit">Next</button>
    </form>
    
</body>
</html>
