<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
</head>
<body>
    <form action="{{ url_for('questionnaire', question_id=question_id) }}" method="post">
        <h2>{{ question.question }}</h2>
        {% if question.image %}
            <img src="{{ question.image }}" alt="Question Image">
        {% endif %}
        {% for answer in question.options %}
        <div>
            <input type="radio" id="answer{{ loop.index }}" name="answer_value" value="{{answer.text}}">
            <label for="answer{{ loop.index }}">{{ answer.text }}</label>
        </div>
        {% endfor %}
        <button type="submit">Next</button>
    </form>
    
</body>
</html>
