<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/questionnaire.css') }}">
</head>
<body>
    <form action="{{ url_for('questionnaire', question_iter=question_iter) }}" method="post">
        <h2>{{ question }}</h2>
        {% if question.image %}
            <img src="{{question.image }}" alt="Question Image">
        {% endif %}
        {% for answer in answers %}
        <div>
            {% if answer.answer_image != "No Image"%}
                <img src="{{answer.answer_image}}" alt="Option Image">
            {% endif %}
            <input type="radio" id="answer{{ loop.index }}" name="answer_value" value="{{answer.answer_id}}">
            <label for="answer{{ loop.index }}">{{answer.answer_text}}</label>
        </div>
        {% endfor %}
        <button type="submit">Next</button>
    </form>
</body>
</html>
